#loading-container,
#no-posters-container {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
#loading-container p,
#no-posters-container p {
  margin: 0 0 0.5rem 0;
}

#no-posters-image,
#loading-image {
  width: 250px;
  border-radius: 3px;
}

#posters-list-container {
  display: flex;
}

#posters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 2 2 100%;
}

.poster {
  width: 280px;
  margin: 2rem 3rem;
  border: 1px solid black;
  position: relative;
}

.poster-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.poster-image {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

.poster-name {
  font-size: 1.55rem;
  font-weight: bold;
  padding: 0 0 0 0.3rem;
  margin-top: -5px;
}

.poster-price {
  font-family: var(--secondary-font);
  padding: 0 0 0 0.3rem;
}

.poster-rating {
  display: flex;
  align-items: flex-start;
  gap: 0.1rem;
  position: absolute;
  bottom: 6.25rem;
  right: 0;
  font-family: var(--secondary-font);
  background-color: var(--off-white-2);
  padding: 0.1rem 0.3rem;
}
.star-icon {
  width: 1.3rem;
}

.wishlist-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem;
  width: 1.5rem;
}
.wishlist-icon:hover {
  cursor: pointer;
}

.cart-btn {
  width: 100%;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-top: 1px solid black;
  background-color: var(--off-white-1);
}
.cart-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-accent-color);
}

.incart-btn {
  background-color: var(--secondary-accent-color);
}
