#overlay {
  background-color: var(--overlay-background-color);
  position: fixed;
  width: 100%;
  height: 100%;
}

#address-form-modal {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 300px;
  margin: 8rem auto;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#address-form-modal-heading {
  font-size: 1.5rem;
}

#address-form-modal input {
  height: 1.5rem;
  padding: 0.2rem 0 0.2rem 0.3rem;
  font-family: var(--secondary-font);
  border: 1px solid black;
  border-radius: 3px;
}
#address-form-modal input:hover {
  border: 1px solid var(--primary-accent-color);
}
#address-form-modal input:focus {
  border: 1px solid var(--primary-accent-color);
  outline: 1px solid var(--primary-accent-color);
}

#submit-cancel-btns {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}

#submit-cancel-btns button {
  width: 100%;
  padding: 0.3rem;
  font-family: var(--primary-font);
  font-size: 1rem;
}
#submit-cancel-btns button:hover {
  cursor: pointer;
}

#dummy-data-btn {
  padding: 0.3rem;
  font-family: var(--primary-font);
  font-size: 1rem;
}
#dummy-data-btn:hover {
  cursor: pointer;
}
