.wishlist-message {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 1rem 0;
}

.wishlist-posters-1 {
  display: flex;
  justify-content: center;
  margin: 0 0 4rem 0;
}
.wishlist-posters-2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0 0 4rem 0;
}
.wishlist-posters-all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 3rem;
  width: 800px;
  margin: 0 auto 4rem auto;
}

.wishlist-poster-container {
  position: relative;
  border: 1px solid black;
  width: 250px;
}

.wishlist-poster-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.wishlist-poster-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.wishlist-poster-rating {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  position: absolute;
  bottom: 6.1rem;
  right: 0;
  padding: 0.2rem 0.3rem;
  font-family: var(--secondary-font);
  background-color: var(--off-white-2);
}

.wishlist-poster-icon {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
  width: 1.5rem;
}
.wishlist-poster-icon:hover {
  cursor: pointer;
}

.wishlist-poster-name {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 0 0 0.3rem;
  margin-top: -5px;
}

.wishlist-poster-price {
  font-family: var(--secondary-font);
  padding: 0 0 0 0.3rem;
}

.wishlist-poster-add-to-cart-btn {
  width: 100%;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-top: 1px solid black;
  background-color: var(--off-white-1);
}
.wishlist-poster-add-to-cart-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-accent-color);
}

.wishlist-poster-incart-btn {
  background-color: var(--secondary-accent-color);
}

/*  */

@media (max-width: 970px) {
  .wishlist-poster-container {
    width: 230px;
  }
  .wishlist-poster-image img {
    width: 100%;
    height: 360px;
  }
  .wishlist-poster-name {
    font-size: 1.3rem;
  }
  .wishlist-poster-rating {
    bottom: 6rem;
    right: 0;
  }
}

@media (max-width: 860px) {
  .wishlist-posters-all {
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto 4rem auto;
  }
}

@media (max-width: 580px) {
  .wishlist-posters-2 {
    width: 300px;
    flex-wrap: wrap;
    margin: 0 auto 4rem auto;
  }
}

@media (max-width: 620px) {
  .wishlist-posters-all {
    width: 300px;
  }
}
