#cart-posters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

#cart-checkout-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.cart-poster {
  display: flex;
  border: 1px solid;
  justify-content: space-around;
  padding: 0.2rem;
  width: 80%;
  margin: auto;
}

.cart-name-price {
  width: 200px;
}

.cart-btn-group {
  display: flex;
  align-items: center;
}

#checkout-link {
  text-align: center;
  background-color: #eee;
  border: 1px solid black;
  padding: 0.3rem;
}