#navbar-search {
  width: 60%;
  height: 1.8rem;
  border-radius: 3px;
  border: 1px solid var(--navbar-search-border-color);
  padding: 0 0 0 0.5rem;
}

#navbar-search:hover {
  border: 1px solid var(--primary-accent-color);
}

#navbar-search:focus {
  border: 1px solid var(--primary-accent-color);
  outline: 1px solid var(--primary-accent-color);
}

@media (max-width: 700px) {
  #navbar-search {
    width: 50%;
  }
}
