@import url(../../App.css);

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: var(--nav-background-color);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 0.8rem 1rem;
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

#app-name {
  font-size: 2rem;
  font-weight: bold;
}

#poster-icon {
  width: 1.5rem;
}

.nav-links {
  position: relative;
}

#nav-home-search-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-explore-link {
  color: white;
  background-color: var(--primary-accent-color);
  padding: 0.2rem 1rem;
  border-radius: 3px;
  box-shadow: 2px 2px var(--secondary-accent-color);
  font-size: 1rem;
}
.nav-explore-link:active {
  box-shadow: none;
  transform: translateY(1px);
}

#nav-links-group {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

sup {
  position: absolute;
  top: -0.2rem;
  right: -12px;
  background-color: var(--sup-background-color);
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 100%;
}
