#placed-order-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0 0 1rem 0;
  margin: 0 auto 4rem auto;
  border-bottom: 1px solid black;
  font-size: 1.1rem;
  /* font-weight: bold; */
}

#placed-order-container-heading {
  font-size: 1.5rem;
  display: flex;
}
#placed-order-container-heading:hover {
  cursor: pointer;
}

#placed-order-container-heading p:hover {
  text-decoration: underline 1px var(--primary-accent-color);
}

#placed-order-posters {
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.order-id {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
  font-weight: bold;
}
.order-id p {
  color: var(--secondary-accent-color);
}
.order-id span {
  font-family: var(--secondary-font);
  font-size: 0.8rem;
}

.placed-order-poster,
.placed-order-total {
  display: flex;
  justify-content: space-between;
}

.placed-order-total p,
.total-amount {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 1rem;
}
