#filters-group,
#filters-group-hidden {
  flex: 1 1 250px;
  height: 100%;
  padding: 1.2rem 1rem 0.8rem 1rem;
  border-right: 2px solid black;
  position: sticky;
  top: 5rem;
}
#filters-group input,
#filters-group-hidden input {
  accent-color: var(--primary-accent-color);
  margin: 0 5px 0 0;
}

#filters-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
#filters-heading p {
  font-size: 1.5rem;
}

#clear-btn {
  font-family: var(--primary-font);
  border: 2px solid var(--secondary-accent-color);
  border-radius: 5px;
  padding: 0.1rem 0.8rem;
  margin: 0 0 0.35rem 0;
  letter-spacing: 0.5px;
}
#clear-btn:hover {
  cursor: pointer;
}

.filter-category {
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.3rem 0;
}

.price-range input {
  width: 100%;
}

.filter-name {
  color: var(--primary-accent-color);
  font-family: var(--primary-font);
  font-size: 1.3rem;
}

/*  */

@media (max-width: 630px) {
  #filters-group,
  #filters-group-hidden {
    top: 5.5rem;
  }
}

@media (max-width: 930px) {
  #filters-group {
    display: none;
  }
  #filters-group-hidden {
    width: 220px;
    position: fixed;
    background-color: var(--nav-background-color);
    backdrop-filter: blur(20px);
    z-index: 1;
    border: none;
    top: 4.4rem;
  }
}

@media (max-width: 630px) {
  #filters-group-hidden {
    top: 5.3rem;
  }
}
