#auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
  margin: 2rem auto;
}

#auth-form label {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: bold;
}

#auth-form input {
  height: 1.3rem;
  padding: 0.2rem 0 0.2rem 0.3rem;
  font-family: var(--secondary-font);
  font-size: 0.9rem;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 3px 3px var(--footer-background-color);
}

#password-input-container {
  position: relative;
}
#password-input-container input {
  width: 85%;
  padding-right: 2.5rem;
}

#password-toggle-icon {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 1.3rem;
  opacity: 0.4;
  padding-left: 0.3rem;
  border-left: 1px solid gray;
}
#password-toggle-icon:hover {
  cursor: pointer;
  opacity: 0.3;
}

#auth-form button {
  padding: 0.15rem 0;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.3px;
  box-shadow: 1px 1px var(--primary-accent-color);
}
#auth-form button:hover {
  cursor: pointer;
}

#login-btn-container {
  display: flex;
  gap: 0.5rem;
}
#login-btn-container button {
  width: 100%;
}

#account-message {
  font-family: var(--secondary-font);
  font-size: 0.9rem;
  margin: 0.1rem 0 0 0;
}
#account-message a {
  font-weight: bold;
  text-decoration: underline 1px var(--primary-accent-color);
}
